/*--- BODY ---*/

body {
  font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Img/fondo.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #ecbe00;
}

body::-webkit-scrollbar-thumb {
  background-color: #333398;
  border-radius: 20px;
  border: 3px solid #ecbe00;
}

/*--- HEADER ---*/

.navbar {
  background-image: linear-gradient(112.1deg, rgb(0, 0, 0) 11.4%, rgb(0, 2, 95) 75.2%);
  color: rgb(255, 255, 255);
}

a.nav-link {
  font-family: 'Quicksand', sans-serif;
  color: rgb(255, 255, 255);
  display: block;
  letter-spacing: 5px;
  font-size: 1em;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  margin-left: 15px;
}

a.nav-link::after {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, rgb(251, 255, 0), rgb(17, 0, 255));
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 1s;
}

a.nav-link:hover:after {
  width: 100%;
}

a.nav-link:hover {
  text-shadow: 2px 2px rgba(255, 222, 73, 0.459), 4px 4px rgba(0, 2, 99, 0.651);
  transform: scale(1.1, 1.1);
  z-index: 7;
}

/*--- CARRUSEL---*/

.carousel-item {
  opacity: 90%;
}

.carousel-caption {
  background-color: rgba(12, 0, 116, 0.486);
  color: white;
}

.carousel-item p {
  font-family: 'Quicksand', sans-serif;
  color: white;
  display: block;
  letter-spacing: 5px;
  font-size: 1em;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  margin-left: 15px;
}

.carousel-item h5 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
  font-size: 2em;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  margin-left: 15px;
}

/* --- SPONSORS ---- */

/* Estilos para el contenedor del carrusel de sponsors */
.sponsors {
  overflow: hidden;
  width: 100%;
}

/* Estilos para el carrusel SPONSORS */
.sponsors-carousel {
  display: flex;
  animation: carousel 200s linear infinite;
  white-space: nowrap; /* Evita saltos de línea entre imágenes */
  width: fit-content; /* Ajusta el ancho al contenido */
}

/* Estilos para las imágenes en el carrusel de sponsors */
.sponsors-img {
  height: 300px;
  width: auto;
  margin-right: 20px; /* Espacio entre las imágenes */
}

/* Definir la animación del carrusel de sponsors */
@keyframes carousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%); /* Mueve el carrusel completamente hacia la izquierda */
  }
}





/*--- EQUIPO---*/

/* Estilos para el contenedor del carrusel */
.jugadores {
  overflow: hidden;
  width: 100%;
}

/* Estilos para el carrusel SPONSORS */
.jugadores-carousel {
  display: flex;
  animation: carousel 250s linear infinite;
  white-space: nowrap; /* Evita saltos de línea entre imágenes */
  width: fit-content; /* Ajusta el ancho al contenido */

}

/* Estilos para las imágenes en el carrusel */
.jugadores-img {
  height: 300px;
  width: auto;
  margin-right: 20px; /* Espacio entre las imágenes */
}

/* Definir la animación del carrusel */
@keyframes carousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%); /* Mueve el carrusel completamente hacia la izquierda */
  }
}


/*--- FOOTER ---*/

.footer {
  background-image: linear-gradient(117.1deg, rgba(0, 2, 95, 0.479) 11.4%, rgba(0, 0, 0, 0.473) 75.2%);
  text-align: center;
  margin-bottom: 0;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(255, 255, 255);
  display: block;
  letter-spacing: 5px;
  font-size: 1em;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.copyright {
  font-size: 10px
}

.card {
  color: #ecbe00;
  background-color: #252692c9;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95), box-shadow 0.3s ease, opacity 0.3s ease;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 0.623));
  z-index: -1;
  transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transform: scaleX(0);
  transform-origin: right;
  opacity: 0.7;
}

.card:hover::before {
  transform: scaleX(1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

/* Estilos para los botones */
.gradient-border-hover {
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.gradient-border-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(80deg, transparent, #ffd9007c);
  transition: width 4.0s ease;
}

.gradient-border-hover:hover::before {
  width: 100%;
}

/* Estilo para centrar el div con la clase "tablas" */
.tablas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Img/ccancha2.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

/* Estilo para las tablas */
.tablas table {
  cursor: pointer;
  border-collapse: collapse;
  text-align: left;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.text-white {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
  font-size: 1em;
  font-size: 25px;
}

/* Estilo para las celdas de cabecera */
.tablas th {
  color: #ffffff;
  background-color: #0202025d;
  font-weight: bold;
  border: 1px solid rgb(65, 65, 65);
  padding: 8px;
}

/* Estilo para las filas pares */
.tablas tr:nth-child(even) {
  background-color: #0202025d;
}

/* Estilo para las filas impares */
.tablas tr:nth-child(odd) {
  background-color: #333;
}

/* Estilo para las celdas */
.tablas td {
  border: 1px solid rgb(65, 65, 65);
  padding: 8px;
  text-align: center;
}

/* Estilo para el hover en las filas */
.tablas table tr:hover {
  background-color: #99999998;
}

/* Estilo para el hover en las celdas */
.tablas table tr:hover td {
  background-color: #000877;
  color: #ffc400;
}

/* Estilos para el tablero realista */
.container-hs {
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  color: #FFFFFF;
}

#headline {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
  font-size: 1em;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  margin: 10px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.countdown {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  color: #ffbb00;
  text-shadow: 1px 1px 2px rgba(0, 60, 255, 0.87);
  background-color: #000a5f67;
}

.countdown div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown span {
  padding: 5px 10px;
}

.team {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team img {
  height: 120px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.team p {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
  font-size: 1em;
  font-size: 25px;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.vs {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
  font-size: 1em;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 5px;
}

@media  screen and (max-width: 1023px){

  .navbar {
  background-image: linear-gradient(112.1deg, rgb(0, 0, 0) 11.4%, rgb(0, 2, 95) 75.2%);
  color: rgb(255, 255, 255);
}

  .sponsors-img{
    max-width: 100%;
    height: auto;
}

  /* Ajusta los estilos para pantallas más pequeñas aquí */
  .tablas  {
    display: flex;
    flex-direction: column;
    font-size: 12px; /* Reduce el tamaño del texto */
  }

  .card {
    text-align: center;
    background-color: #22222448;
    width: 100% !important; /* Agregamos !important */
  }

  .card img {
    height: 1px;
  }
  
  .card-title {
    font-size: 0px !important; /* Agregamos !important */
  }

  .card-text {
    font-size: 0px !important; /* Agregamos !important */
  }

  .card-button {
    font-size: 14px !important; /* Agregamos !important */
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1366px) {
.tablas {
  flex-direction: column;
}
}